.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f7f6;
  min-height: 100vh;
}
.App-header {
  background-color: #8B0000; /* Tom de vermelho escuro */
  padding: 20px;
  color: white;
}
main {
  padding: 20px;
}
.kpi-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
.kpi-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  min-width: 250px;
}
.kpi-card h2 {
  font-size: 2.5em;
  margin: 0;
  color: #8B0000;
}
.kpi-card h3 {
  font-size: 1em;
  margin: 5px 0 0;
  color: #333;
}
.chart-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  display: inline-block;
}
.charts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 colunas de tamanho igual */
  gap: 20px;
  margin-bottom: 20px;
}

/* Para telas menores (celulares), faz os gráficos ficarem um em cima do outro */
@media (max-width: 768px) {
  .charts-grid {
    grid-template-columns: 1fr; /* 1 coluna */
  }
}

.full-width-chart {
  width: 90%; /* Ajuste a largura conforme preferir */
  max-width: 1200px; /* Limite a largura máxima */
  margin: 20px auto; /* Centraliza o gráfico */
}